.all {
    border: 2px solid #fff;
}

.live {
    background: greenyellow;
}

.beta {
    background: aqua;
}

.prototype {
    background: blue;
}

.wip {
    background: orange;
}

.concept {
    background: bisque;
}

.stealth {
    background: red;
}
